# Main Requirements
-r requirements.txt

# Core Testing Packages
pytest
pytest-timeout
pytest-xdist
pytest-mock
pytest-cov
hypothesis

# Linting
pylint
mypy
autopep8

# Code Formatting
black
isort

# Type Stubs
types-requests

# Security
bandit
pip-audit
